<p id="notice"><%= notice %></p>
<div class="container">

<h1>An's blog</h1>

<h3> My first Rails Application for CoderSchool!</h3>

<fieldset class="form-group">
<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search article title" %>
<%= submit_tag "Search", :name => nil %>
<% end %>
</fieldset>

  <%= render @articles %>


<br>

<%= link_to 'New Article', new_article_path %>

</div>
